doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='module' src='/javascripts/site.js')
    body
        header
          h1 Express, AjaX
          nav
            ul
              li
                a(href="/") Home
              li
                a(href="/xslt") XSLT
        main
          h2= h2
          block content

        footer
          a(href="/#") SoMe